/* ==========================================================================
  VARIABLES
/* ========================================================================== */
 
///////// COLORS /////////////

$lightBlue: #73D5FF;
$lightGrey: #ADA8AA;
$darkGrey: #4F4F4F;
$white: #FFFFFF;


///////// FONTS /////////////

$syncopate: 'Syncopate', sans-serif;
$raleway: 'Raleway', sans-serif;



///////// WIDTH /////////////

$widthMobile: 550px;
$widthTablet: 768px;
$widthDesktop: 1024px;
$widthDesktop : 1440px;

