/* ==========================================================================
    FONTS
/* ========================================================================== */

///////// RALEWAY /////////////

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Bold.ttf');
  font-weight: 700;
}


///////// SYNCOPATE /////////////


@font-face {
  font-family: 'Syncopate';
  src: url('../fonts/syncopate/Syncopate-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Syncopate';
  src: url('../fonts/syncopate/Syncopate-Bold.ttf');
  font-weight: 700;
}
