/* ==========================================================================
  VARIABLES
/* ========================================================================== */
 
///////// COLORS /////////////

$lightBlue: #73D5FF;
$lightGrey: #ADA8AA;
$darkGrey: #4F4F4F;
$white: #FFF;


///////// FONTS /////////////

$syncopate: 'Syncopate', sans-serif;
$raleway: 'Raleway', sans-serif;



