/* ==========================================================================
  VARIABLES
/* ========================================================================== */
 
///////// COLORS /////////////

$lightBlue: #73D5FF;
$lightGrey: #ADA8AA;
$darkGrey: #313030;
$white: #FFF;


///////// FONTS /////////////

$syncopate: 'Syncopate', sans-serif;
$raleway: 'Raleway', sans-serif;

///////// IMAGES /////////////

$standardIcon: 30px;




