footer {
  padding: 3rem 0;
  text-align: center;
  background: $darkGrey;
  color: white;
  font-size: 2.5rem;
  font-family: $syncopate;

  p {
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  li {

    display: inline-block;
    margin: 0 1.5rem;

  }

  img {
    width: $standardIcon;
    height: $standardIcon;
    margin: auto;
  }
}