.fullScreenPart--new {
  text-align: center;
}

.fullScreenPart__view {
  background: url("../images/jaguar_inside.jpg") -25px -70px;
  background-size: calc(100% + 90px);
  background-repeat: no-repeat;
  position: fixed;
  height:100%;
  width: 100%;
  cursor: pointer;
}

.fullScreenPart__alert {
  font-size: 1.5rem;
  font-family: $raleway;
  color: $white;
  position: absolute;
  left: 40%;
  right: 40%;
  bottom: 50px;
}

.fullScreenPart__styleLine {
  height: 30px;
  left: 50%;
  right: 50%;
  bottom: 10px;
  position: absolute;
  border-left: solid 1px $white;
}



