<section class="counter">
    <h3>Art of performance</h3>
    <div class="counter-wrapper">
        <div class="progress-circle">
            <div class="left-half-clipper">
                <div class="first50-bar"></div>
                <div class="value-bar" ></div>
            </div>
        </div>
        <div class="counter-info">
            <p class="km"></p>
            <p>km/h</p>
        </div>
    </div>
    <div class="counter-wrapper">
        <div class="progress-circle">
            <div class="left-half-clipper">
                <div class="first50-bar"></div>
                <div class="value-bar"></div>
            </div>
        </div>
        <div class="counter-info">
            <p class="vision"></p>
            <p>vision</p>
        </div>
    </div>
    <div class="counter-wrapper">
        <div class="progress-circle">
            <div class="left-half-clipper">
                <div class="first50-bar"></div>
                <div class="value-bar"></div>
            </div>
        </div>
        <div class="counter-info">
            <p class="charge"></p>
            <p>km on one charge</p>
        </div>
    </div>
</section>
