<section class="fullScreenPart fullScreenPart--list">
    <div class="fullScreenPart_feature">
        img(src=require("../../app/images/jaguar_ville.jpg"))
        <div class="fullScreenPart_feature__point in">
            <p>Shared</p>
        </div>
        <div class="fullScreenPart_feature__point">
            <p>Autonomous</p>
        </div>
        <div class="fullScreenPart_feature__point">
            <p>Connected</p>
        </div>
        <div class="fullScreenPart_feature__point">
            <p>Electric</p>
        </div>
    </div>
    <div class="feature_content in">
        <ul>
            <li>
                <h3><span></span>Shared</h3>
            </li>
            <li>
                <div class="cube"></div>
                <p>Name after E-Type designer</p>
            </li>
            <li>
                <div class="cube"></div>
                <p>Call the car when you need it</p>
            </li>
            <li>
                <div class="cube"></div>
                <p>Own the steering wheel, share the car</p>
            </li>
            <li>
                <div class="cube"></div>
                <p>Your own membership 'key' to Jaguar </p>
            </li>
        </ul>
    </div>
    <div class="feature_content">
        <ul>
            <li>
                <h3>Autonomous</h3>
            </li>
            <li>
                <div class="cube"></div>
                <p>On-demand electric vehicle</p>
            </li>
            <li>
                <div class="cube"></div>
                <p>Fully autonomous but driveable too</p>
            </li>
            <li>
                <div class="cube"></div>
                <p>2+1 'social' seating - relax while the car drive itself</p>
            </li>
        </ul>
    </div>
    <div class="feature_content">
        <ul>
            <li>
                <h3>Connected</h3>
            </li>
            <li>
                <div class="cube"></div>
                <p>Name after E-Type designer</p>
            </li>
            <li>
                <div class="cube"></div>
                <p>Call the car when you need it</p>
            </li>
            <li>
                <div class="cube"></div>
                <p>Own the steering wheel, share the car</p>
            </li>
            <li>
                <div class="cube"></div>
                <p>Your own membership 'key' to Jaguar </p>
            </li>
        </ul>
    </div>
    <div class="feature_content">
        <ul>
            <li>
                <h3>Electric</h3>
            </li>
            <li>
                <div class="cube"></div>
                <p>Desirable Jaguar for 2040 and beyond</p>
            </li>
            <li>
                <div class="cube"></div>
                <p>Always full charged</p>
            </li>
            <li>
                <div class="cube"></div>
                <p>Compact urban-friendly design</p>
            </li>
            <li>
                <div class="cube"></div>
                <p>Safer and more efficient</p>
            </li>
        </ul>
    </div>
</section>