footer
    p follow
    nav
        ul
            li
                img(src=require('../../app/images/facebook.svg'))
            li
                img(src=require('../../app/images/twitter.svg'))
            li
                img(src=require('../../app/images/youtube.svg'))
