footer
    div.footer__brand
        img(src=require("../../app/images/logo_white.svg"))
    div.footer__social
        p follow
        nav
            ul
                li
                    a(href='https://www.facebook.com/Jaguar.France')
                        span.icon-facebook
                li
                    a(href='https://twitter.com/jaguarfrance')
                        span.icon-twitter
                li
                    a(href='https://www.youtube.com/user/JaguarFranceOfficiel')
                        span.icon-youtube
