header
    img(src=require("../../app/images/logo.svg"))
    div.head
        div.head_car
            img(src=require("../../app/images/voiture_inside.png"))
            div.square
                div.square_insquare
            button Learn more
        div.head_intro
            h1 Jaguar future-type concept
            p Jaguar's electric vision of 2040. The Jaguar FUTURE-TYPE is a premium compact on-demand vehicle concept, designed to meet the mobility needs of future generations.
            button Learn more