<section class="fullScreenPart fullScreenPart--new">
    <div class="fullScreenPart__view">
        <div class="fullScreenPart__digitalAnim fullScreenPart__connectedAnimation">
            <div class="fullScreenPart__CircleAnim bigCircle">
                <div class="fullScreenPart__CircleAnim middleCircle">
                    <div class="fullScreenPart__CircleAnim littleCircle"></div>
                </div>
            </div>
        </div>
        <div class="fullScreenPart__digitalAnim fullScreenPart__environmentAnimation">
            <p>Curate your digital environment</p>
        </div>
        <p class="fullScreenPart__alert">scroll to skip</p>
        <div class="fullScreenPart__styleLine"></div>
    </div>
</section>