<section class="fullScreenPart fullScreenPart--new">
    <div class="fullScreenPart__view">
        <p class="fullScreenPart__alert">scroll to skip</p>
        <div class="fullScreenPart__styleLine"></div>
    </div>
</section>